.lib-app__admin-content
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	.common__h1
		width 100%
	.lib-app__admin-content-left
		width 20%
	.lib-app__admin-content-right
		width 78%
	.all-books__book-itm
		width 100%
		margin-bottom 15px